.slogan h1{
    color: #333333;
    font-weight: 700;
}
.slogan h1.italic{
    color: #666666;
    font-style: italic;
    word-spacing: 2px;
}
.kng_last li,.comment li{
    padding-bottom: 20px;
}
.kng_last .li_detail{
    max-height: 70px;
    overflow: hidden;
}
.kng_last .li_detail *{
    font-size: 14px!important;
    font-style: normal!important;
    color: #666!important;
    line-height: 22px!important;
}
.kng_last h3{
    padding: 10px 0;
    font-size: 18px;
}
.kng_last p,.comment p{
    color: #555;
    line-height: 22px;
}
.kng_last p span{
    font-size: 12px;
}
.kng_last h3>a{
    color: #01AAED;
}
.kng_title{
    font-size: 26px;
    margin: 10px 0;
    text-align: center;
}
.min-font{
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.kng_content{
    margin-top: 10px;
    min-height: 230px;
}


/*login*/
.login-html{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.login-body{
    width: 100%;
    height: 100%;
    padding-top: 7%;
    box-sizing: border-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all .3s ease;
}
.content{
    width: 375px;
    min-height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #eee;
    background-color: rgba(240,240,240,.8);
    padding: 20px;
    font-size: 16px;
}
.user-login-header {
    text-align: center;
    padding: 20px;
}
.user-login-header h2{
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 30px;
    color: #000;
}
.layui-form-item {
    position: relative;
    margin-bottom: 20px;
}
.user-login-icon {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 38px;
    line-height: 36px;
    text-align: center;
    color: #d2d2d2;
}
.content .layui-form-item .layui-input {
    padding-left: 38px;
    height: 42px;
}
.layui-form-item a{
    color: #029789;
}

.comment p{
    margin-bottom: 8px;
}