.slogan h1{
    color: #333333;
    font-weight: 700;
}
.slogan h1.italic{
    color: #666666;
    font-style: italic;
    word-spacing: 2px;
}
.kng_last li{
    padding-bottom: 20px;
}
.kng_last .li_detail{
    max-height: 70px;
    overflow: hidden;
}
.kng_last .li_detail *{
    font-size: 14px!important;
    font-style: normal!important;
    color: #666!important;
    line-height: 22px!important;
}
.kng_last h3{
    padding: 10px 0;
    font-size: 18px;
}
.kng_last p{
    color: #666;
    line-height: 22px;
}
.kng_last p span{
    font-size: 12px;
}
.kng_last h3>a{
    color: #01AAED;
}
.kng_title{
    font-size: 26px;
    margin: 10px 0;
    text-align: center;
}
.min-font{
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.kng_content{
    margin-top: 10px;
    min-height: 260px;
}
