<div class="layui-header">
    <div class="layui-logo">AthenaShare</div>
    <!-- 头部区域-->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item">
            <a href="../Main/index.html">首页</a>
        </li>
        <li class="layui-nav-item <if condition='$nav_select eq 1'>layui-this</if>">
            <a href="../Kng/kng.html">知识分享</a>
        </li>
        <li class="layui-nav-item <if condition='$nav_select eq 2'>layui-this</if>">
            <a href="../Message/msg.html">消息中心</a>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                {$usr_name}
            </a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="../User/info.html">基本资料</a>
                </dd>
                <dd>
                    <a href="javascript:;" id="password-btn">修改密码</a>
                </dd>
                <hr>
                <dd>
                    <a href="../login/logout">注销</a>
                </dd>
            </dl>
        </li>
    </ul>
</div>
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域 -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="layui-icon layui-icon-read" href="javascript:;">&nbsp;&nbsp;知识分享</a>
                <dl class="layui-nav-child">
                    <dd class="<if condition='$kng_tab eq 0'>layui-this</if>">
                        <a href="../Kng/kng.html?kng_tab=0">我的发布</a>
                    </dd>
                    <dd class="<if condition='$kng_tab eq 1'>layui-this</if>">
                        <a href="../Kng/kng.html?kng_tab=1">我的草稿</a>
                    </dd>
                    <dd class="<if condition='$kng_tab eq 2'>layui-this</if>">
                        <a href="../Kng/kng.html?kng_tab=2">编写最新</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a class="layui-icon layui-icon-notice" href="javascript:;">&nbsp;&nbsp;消息中心</a>
                <dl class="layui-nav-child">
                    <dd class="<if condition='$msg_tab eq 0'>layui-this</if>">
                        <a href="../Message/msg.html?msg_tab=0">已发消息</a>
                    </dd>
                    <dd class="<if condition='$msg_tab eq 1'>layui-this</if>">
                        <a href="../Message/msg.html?msg_tab=1">已读消息</a>
                    </dd>
                    <dd class="<if condition='$msg_tab eq 2'>layui-this</if>">
                        <a href="../Message/msg.html?msg_tab=2">未读消息</a>
                    </dd>
                    <dd class="<if condition='$msg_tab eq 3'>layui-this</if>">
                        <a href="../Message/msg.html?msg_tab=3">新建消息</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>