<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>AthenaShare</title>
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/css/base.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <include file="common/header" />
    <div class="layui-body content-main" style="padding: 15px;">
        <!-- 内容主体区域 -->
        <div class="layui-fluid">
            <h2 class="kng_title">标题</h2>
            <ul class="min-font">
                <li>类别：Unix</li>
                <li>时间：2018年7月31日</li>
                <li>作者：JasonLin</li>
                <li>获赞：77</li>
            </ul>
            <div style="text-align: right;">
                <button type="button" class="layui-btn">
                    <i class="layui-icon">&#xe6c6;</i>点赞
                </button>
                <button type="button" class="layui-btn">
                    <i class="layui-icon">&#xe857;</i>下载文件
                </button>
            </div>
            <div class="kng_content">
                历经打磨，@索尼中国 再献新作品—OLED电视A8F完美诞生。很开心一起参加了A8F的“首映礼”！[鼓掌]正如我们演员对舞台的热爱，索尼对科技与艺术的追求才创造出了让人惊喜的作品。作为A1兄弟款，A8F沿袭了黑科技“屏幕发声技术”和高清画质，色彩的出众表现和高端音质，让人在体验的时候如同身临其境。A8F，这次的“视帝”要颁发给你！ 索尼官网预售： O网页链接 索尼旗舰店预售：
                历经打磨，@索尼中国 再献新作品—OLED电视A8F完美诞生。很开心一起参加了A8F的“首映礼”！[鼓掌]正如我们演员对舞台的热爱，索尼对科技与艺术的追求才创造出了让人惊喜的作品。作为A1兄弟款，A8F沿袭了黑科技“屏幕发声技术”和高清画质，色彩的出众表现和高端音质，让人在体验的时候如同身临其境。A8F，这次的“视帝”要颁发给你！ 索尼官网预售： O网页链接 索尼旗舰店预售：
            </div>

        </div>
    </div>
    <include file="common/footer" />
    <script src="__PUBLIC__/layui/layui.js"></script>
    <script src="__PUBLIC__/js/index.js"></script>
    <script src="__PUBLIC__/js/kng.js"></script>
</div>
</body>
</html>